@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// scss variable
$tungsten: #333;
$base: #00496E;
$red: #C7243A;
$red-thin: #F6D4D8;

html, body, #editor {
  margin: 0;
  height: 100%;
  color: $tungsten;
  font-family: 'Noto Sans JP', sans-serif;
}

textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

#editor {
  h1, h2, h3 {
    color: $base;
    font-size: 1em;
  }
  
  li {
    margin: 0.5em 0;
  }
  
  strong { 
    color: $red; 
  }	
  
  em { 
    display: inline-block;
    font-style: normal;
    background: $red-thin;
    color: $red;
    padding: 5px;
  }
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  padding: 20px;
}

code {
  color: #f66;
}

hr {
  border: 0;
  border-top: 1px solid #333;
}