@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// scss variable
$tungsten: #333;
$base: #00496E;
$red: #C7243A;
$red-thin: #F6D4D8;

.reveal .slides {
  color: $tungsten;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
	
	h1 { 
    color: $base;
    font-size: 2em;
    text-transform: none;
  }
	h2 { 
    color: $base;
		font-size: 1.8em; 
		margin-bottom: 1em;
    text-transform: none;
	}
	h3 { 
    color: $base;
		font-size: 1.5em; 
		margin-bottom: 1em;
    text-transform: none;
	} 
	
	li {
		margin: 0.5em 0;
	}
	
	strong { 
		color: $red; 
	}	
	
	em { 
		display: inline-block;
		font-style: normal;
		background: $red-thin;
		color: $red;
		padding: 5px;
	}
  
  img {
    border: 0px;
  }
}

.reveal .slide-number,
.reveal .slide-number-pdf {
  color: $tungsten;
  background: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: bold;
}